# Unreal Engine generated directories
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo

# Xcode
*.xcworkspace
*.xcodeproj

# IDE
.idea/
.vs/

# Unreal editor content collections
Content/Collections/
Content/__ExternalActors__/
Content/__ExternalObjects__/
